<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>
    <h1>Hotel Payment Form</h1>
  </title>
</head>

<body>
  
  <div class="container">
    <div class="titleH"><h1>HOTEL BOOKING FORM</h1></div>
    <div class="row">
      <div class="col-la-3"></div>
      <div class="col-la-6">
        <div class="ui">
          <form #paymeForm = "ngModel" class="form-group">
            <div class="row">
              <div class="col-lg-6">
                <label for="cardholder" color="white">
                  Card Holder
                </label>
                <input type="text" class="form-control" placeholder="your name" required>
              </div>

              <div class="col-lg-6">
                <label for="cardnumber">
                  Card Number
                </label>
                <input type="text" class="form-control" placeholder="card number" required>
              </div>

            </div>


            <div class="col-lg-6">
              <label for="cardnumber">
                date
              </label>
              <input type="date" class="form-control" placeholder="dates" required>
            </div>

            <div class="col-lg-6">
              <label for="cardnumber">
                ccv
              </label>
              <input type="text" class="form-control" placeholder="ccv" required>
            </div>

            <div>
              <input type="button" class="btn btn-primary " value="Submit"></div>

          </form>
        </div>

      </div>
      <div class="col-la-3"></div>
    </div>
  </div>
</body>