/* <<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: url("https://i.imgur.com/LAfQyOR.jpg") no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-size: 16px;
}

.wrapper {
    width: 100%;
    padding: 10px;
}

.container {
    max-width: 500px;
    height: auto;
    margin: 0px auto;
    background: #fff;
    padding: 20px 40px 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 7px solid #5f6c7d;
}

.title {
    color: #5f6c7d;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
}

.input-form {
    margin-bottom: 20px;
}

.input-form .label {
    display: block;
    font-size: 1em;
    color: #212121;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.input-form .items {
    margin-bottom: 20px;
}

.section-1 .items .input,
.section-2 .items .input,
.section-3 .items .input {
    background: transparent;
    border: 2px solid #BDBDBD;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    color: #212121;
    border-radius: 3px;
}

.input-form .section-3 {
    display: flex;
    justify-content: space-between;
}

.input-form .section-3 .items {
    width: 48%;
}

.btn {
    background: #5f6c7d;
    color: #fff;
    font-size: 1.25em;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
}

.cvc {
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: all 0.3s ease;
}

.cvc .tooltip {
    color: #d4d4d4;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer;
}

.cvc .cvc-img {
    position: absolute;
    top: -300%;
    right: 0;
    background: #5f6c7d;
    padding: 12px;
    border-radius: 5px;
    display: none;
}

.cvc .cvc-img img {
    width: 100px;
    height: auto;
    display: block;
}

.cvc:hover .cvc-img {
    display: block;
}

@media screen and (max-width: 460px) {
    .input-form .section-3 {
        flex-direction: column;
    }
    .input-form .section-3 .items {
        width: 100%;
    }
    .input-form .items {
        margin-bottom: 10px;
    }
    .input-form {
        margin-bottom: 15px;
    }
    .title {
        font-size: 1.5em;
        margin-bottom: 15px;
    }
}
=======
.container{
color: white;
  
}
.col-la-6{
  position: relative;
  top: 150px;
  left: 350px;
  padding: 20px;
  
}
#ui{
  color: white;
}



 .container .row .col-la-6 {
position: relative;
  background-color: rgb(54, 52, 56);
height: 210px;
border-radius: 50px;
top: 200px;
opacity: 0.9;
right: 30px

 }

 .btn {
   position: relative;
   top: 20px;
 }
 .titleH{
   border-style: solid ;
   border-bottom: 0px;
   color: rgb(177, 67, 67);
   position: relative;
   top: 90px;
   background-color: rgb(31, 27, 27);
   height: 70px auto;
   color:rgb(117, 45, 45) ;
 }
 .titleH h1{
   color: rgb(156, 59, 59) ;
 }
>>>>>>> 3bd1e80e0121e95e158d5eadaa773e5ce9d0b742 */