<h1 style="color: red;">


    <br>


    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="card">
                    <div class="card-header">

                        <h1>Booking details</h1>
                    </div>
                    <div class="card-body">

                        First Name: {{displaydetails.firstname}}<br>
                        <br>Last Name: {{displaydetails.lastname}}<br>
                        <br> Phone Number: {{displaydetails.phonenumber}}<br>
                        <br>Email Address: {{displaydetails.email}}<br>
                        <br>Selected Room: {{displaydetails.roomType}}<br>
                        <br>Check In Date: {{displaydetails.CheckIndate}}<br>
                        <br>Check Out Date: {{displaydetails.CheckOutdate}}<br>
                        <div class="card-header">

                            <h1>Baking details</h1>
                        </div>
                        <div class="card-body">
                            Bank Name: {{cardData.Bankname}}<br>
                            <br>Account Holder: {{cardData.Accountholder}}<br>
                            <br>Card Number:{{cardData.Cardno}}<br>
                            <br>CVV Number: {{cardData.Cvvno}}<br>
                            <br>Card EXP Date: {{cardData.CardExpDate}}
                        </div> 
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- <button type="submit" click="routerLink='/pay-page'">proceed</button> -->