<div class="header">
    <h1>Hotel Booking Form</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <h2 class="tittle">Booking a Room</h2>
            <div class="ui">
                <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

                    <div class="row">

                        <div class="col-lg-6">
                            <label>First Name</label>
                            <input type="text" formControlName="firstname" class="form-control" placeholder="Your First Name...">

                        </div>
                        <div class="col-lg-6">
                            <label>Last Name</label>
                            <input type="text" formControlName="lastname" class="form-control" placeholder="Your Last Name...">

                        </div>
                        <div class="col-lg-6">
                            <label>ID/PASSPORT NO.</label>
                            <input type="number" formControlName="IdNUm" class="form-control" placeholder="Your ID/PASSPORT number...">
                        </div>
                        <div class="col-lg-6">
                            <label>Phone</label>
                            <input type="tel" formControlName="phonenumber" class="form-control" placeholder="Your Phone number...">
                        </div>

                    </div>

                    <label>Email</label>
                    <input type="email" formControlName="email" class="form-control" placeholder="Your Email">

                    <div class="row">
                        <div class="col-lg-6">
                            <label>Available Rooms</label>
                            <select class="form-control" formControlName="roomType">
                                    <option>SUIT</option>
                                    <option>DELUX</option>
                                     <option>TOP NOTCH</option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <label>No.of Rooms</label>
                            <select class="form-control" formControlName="NoofRooms">
                                    <option>1</option>
                                    <option>2</option>
                                     <option>3</option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <label>Check In Date</label>
                            <input type="date" formControlName="CheckIndate" class="form-control" placeholder="Your check in date">
                        </div>
                        <div class="col-lg-6">
                            <label>Check Out Date</label>
                            <input type="date" formControlName="CheckOutdate" class="form-control" placeholder="Your check out date">
                        </div>
                    </div>

                    <input type="submit" value="Book Now">
                </form>
                <!-- {{editForm.value | json}} -->

            </div>


        </div>

        <div class="col-lg-3"></div>
    </div>

</div>