    /* horizontal menu */
    
    .carousel-inner img {
        object-position: center center;
        width: 100%;
        height: 550px;
        object-fit: cover;
        position: relative;
        margin: 5px;
        /* border: 1px solid #ccc; */
        float: left;
        width: 180px;
        display: block;
    }
    
    body p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Ubuntu Condensed', sans-serif;
    }
    /*--header--*/
    
    .header h1 {
        font-size: 3em;
        text-transform: uppercase;
        letter-spacing: 8px;
        color: #fff;
        font-weight: 400;
        margin: 0.5em;
    }
    /*--//header--*/
    /*--main--*/
    /*-- about-bottom --*/
    
    h3.tittle {
        text-align: center;
        font-size: 1.5em;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1em;
        background: #9e202f;
    }
    
    h2.tittle {
        text-align: center;
        font-size: 1.5em;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1em;
        background: #bb2739;
        color: whitesmoke;
    }
    
    .ui span {
        font-size: 15px;
        color: #fff;
        text-align: left;
        display: inline-block;
        font-weight: 500;
        margin: 0px 0px 10px 12px;
        letter-spacing: 1px;
        font-family: 'Ubuntu Condensed', sans-serif;
    }
    
    .ui input[type="text"],
    .ui input input[type="date"],
    .ui input input[type="number"],
    .ui input input[type="select"],
    .ui input input[type="tel"],
    .ui input input[type="time"] {
        width: 92%;
        color: #9a9797;
        outline: none;
        font-size: 0.9em;
        line-height: 25px;
        padding: 5px 10px;
        border: none;
        -webkit-appearance: none;
        margin-bottom: 1.1em;
        background: #fff;
        font-family: 'Ubuntu Condensed', sans-serif;
    }
    
    .ui input[type="email"] {
        text-align: center;
        color: #9a9797;
        outline: none;
        font-size: 0.9em;
        line-height: 25px;
        padding: 5px 10px;
        border: none;
        -webkit-appearance: none;
        margin-bottom: 1.1em;
        background: #fff;
        font-family: 'Ubuntu Condensed', sans-serif;
    }
    
    .ui input[type="text"] {
        border: none;
        text-align: center;
    }
    
    button {
        text-transform: uppercase;
        /* background: #fe8f30; */
        padding: .7em 0em;
        border: none;
        font-size: 1em;
        outline: none;
        width: 40%;
        letter-spacing: 1px;
        font-weight: 600;
        margin-top: 2.4em;
        cursor: pointer;
        font-family: 'Ubuntu Condensed', sans-serif;
        margin-left: 55%;
        /* font-weight: 400; */
        background-color: #d63447;
        text-decoration: none;
    }
    
    button:hover {
        color: #9e202f;
        text-decoration: underline;
    }
    
    .ui {
        background: rgba(12, 12, 12, 0.51);
        padding: 2em 0em;
        width: 100%;
    }
    
    .ui select {
        width: 92%;
        color: #9a9797;
        outline: none;
        font-size: 0.9em;
        line-height: 25px;
        padding: 5px 10px;
        border: none;
        -webkit-appearance: none;
        margin-bottom: 1.1em;
        background: #fff;
        font-family: 'Ubuntu Condensed', sans-serif;
    }