/* You can add global styles to this file, and also import other style files */

body {
    background-image: url(src\app\images\b1.jpg);
    text-align: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center;
    background-attachment: fixed;
}