  h3.tittle {
      text-align: center;
      font-size: 1.5em;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 1em;
      background: #f7ad6c;
      height: auto;
  }
  
  .ui {
      background: rgba(12, 12, 12, 0.51);
      /* padding: 2em 0em; */
      width: 100%;
      /* height: 20%; */
      object-fit: cover;
  }
  
  .carousel,
  .item,
  .active {
      height: 100%;
      width: 100%;
  }
  
  .carousel-inner {
      height: 100%;
      width: 100%;
  }